# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Rider / JetBrains
.idea/
*.sln
*.csproj
*.user
*.userprefs

# Visual Studio / Debug
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

# Packages
*.unitypackage

# Android / iOS builds
*.apk
*.aab
*.ipa
